{% extends "layout.html" %}
{% block content %}
<div class="mt-4">
    <h1>{{ server.name }}</h1>
    <p>IP Address: {{ server.ip_address }}</p>
    <p>Location: {{ server.location }}</p>
    <p>Status: {{ server.status }}</p>
    <br>
    <h2>Performance Metrics</h2>
    <ul class="list-group">
        {% for metric in metrics %}
        <li class="list-group-item">
            CPU Usage: {{ metric.cpu_usage }}%, Memory Usage: {{ metric.memory_usage }}%, Disk Usage: {{
            metric.disk_usage }}%, Network Traffic: {{ ((metric.network_traffic)//1000/1000) }} MB, Timestamp: {{
            metric.timestamp }}
        </li>
        {% endfor %}
    </ul>

    <h2 class="mt-4">Alerts</h2><br>
    <ul class="list-group">
        {% for alert in alerts %}
        <li class="list-group-item">
            Alert Type: {{ alert.alert_type }}, Description: {{ alert.description }}, Timestamp: {{ alert.timestamp }},
            Resolved: {{ alert.resolved }}
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    setTimeout(function () {
        location.reload();
    }, 5000); //reload every 5 seconds to feel realtime
</script>
{% endblock %}

{% block styles %}
<style>
    .list-group {
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        overflow-y: scroll;
    }
</style>
{% endblock %}